version: '3'
services:
  chat:
    build:
      context: ./packages/chat
    volumes:
      - ./packages/chat/pages:/app/pages
      - ./packages/chat/components:/app/components
    depends_on:
      - server
    ports:
      - "3000:3000"
  server:
    build:
      context: ./packages/server
    volumes:
      - ./packages/server:/app
    depends_on:
      - store
    ports:
      - "8080:8080"
  store:
    image: mongo:latest
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    # volumes:
    #   - ./data:/data/db
    ports:
        - 27017:27017
    command: mongod --smallfiles --logpath=/dev/null # --quiet
