version: '3'
services:
  server:
    build:
      context: ./packages/server
    volumes:
      - ./packages/server:/app
    depends_on:
      - mongo
    ports:
      - "8080:8080"
  store:
    image: mongo:latest
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ./data:/data/db
    ports:
        - 27017:27017
    command: mongod --smallfiles --logpath=/dev/null # --quiet
